.topnav {
    margin: 0 0 0 0;
    padding: 0 1% 0 2%;
    list-style-type: none;
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    width: 97%;
    top: 0;
}

.topnav li {
    float: left;
    padding: 12px 0 12px 0;
}

.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 1.3em;
}

.topnav li a:hover {
    background-color: #e4e7d7;
    cursor: pointer;
}

.topnav li.right {
    float: right;
    margin-top: 11px;
}

.topnav li.leftmost {
    margin-left: 0;
    margin-right: 1%;
    padding: 5px 0;
}

.topnav img {
    height: 70px;
    width: 70px;
    margin: 0;
}

.topnav-container {
    margin: 0;
}

.topnav-divider {
    padding-top: 85px;
}